{% extends "base.html" %}
{% block content %}

<h2>Update a Class</h2>

<form action="/gym_classes/{{ gym_class.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="ame" value="{{ gym_class.name }}">
        <label for="teacher">Teacher:</label>
        <input type="text" id="teacher" name="teacher" value="{{ gym_class.teacher }}">
        <label for="duration">Duration:</label>
        <input type="text" id="durationr" name="duration" value="{{ gym_class.duration }}">
        <input type="submit">
    </div>
</form>

{% endblock %}