{% extends "base.html" %}
{% block content %}

<h2>Update a Class</h2>

<form action="/gym_classes/{{ gym_class.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ gym_class.name }}">
        <label for="teacher">Teacher:</label>
        <input type="text" id="teacher" name="teacher" value="{{ gym_class.teacher }}">
        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration" value="{{ gym_class.duration }}">
        <label for="capacity">Capacity:</label>
        <input type="text" id="capacity" name="capacity" value="{{ gym_class.capacity }}">
        <select name="peak_hour">
            <option >Peak hour</option>
            <option>Off-peak hours</option>
        </select>
        <label for="state">State:</label>
        <select name="state">
            <option>Activate</option>
            <option>Deactivated</option>
        </select>
        <input type="submit">
    </div>
</form>

{% endblock %}