{% extends 'base.html' %}

{% block content %}
<h2>Classes</h2>

{% for gym_class in gym_classes %}

<section>
    <p>{{gym_class.name}} by {{gym_class.teacher}} during {{gym_class.duration}} min, for {{gym_class.capacity}} people during {{gym_class.peak_hour}}.</p>
    <div class="align_buttons ">
        <form action="/gym_classes/{{ gym_class.id }}/edit">
            <input class="secondary_button" type="submit" value="Edit">
        </form>
        <form  action="/gym_classes/{{ gym_class.id }}/show">
            <input class="secondary_button" type="submit" value="Members">
        </form>
        <form action="/gym_classes/{{ gym_class.id }}/delete" method="POST">
            <input class="secondary_button" type="submit" value="Delete">
    </form>
</div><hr>
</section>
{% endfor %}
{% endblock %}