{% extends "base.html" %}
{% block content %}

<h2>Add a New Class</h2>

<form action="/gym_classes" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div><br>
    <div>
        <label for="teacher">Teacher:</label>
        <input type="text" id="teacher" name="teacher" required>
    </div><br>
    <div>
        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration" required>
    </div><br>
    <div>
        <label for="capacity">Capacity:</label>
        <input type="text" id="capacity" name="capacity" required>
    </div><br>
    <div>
        <label for="peak_hour">Hour:</label>
        <select name="peak_hour">
            <option>Peak hour</option>
            <option>Off-Peak hours</option>
        </select>
    </div><br>
    <div>
        <label for="state">State:</label>
        <select name="state">
            <option>Activate</option>
            <option>Deactivated</option>
        </select>
    </div><br>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}