{% extends 'base.html' %}

{% block content %}
<div class="title_button">
    <h2>Members</h2>

    <form action="/members/new">
        <input class="button" type="submit" value="Add a new member">
    </form>
</div>

{% for member in members %}

<section>
    <p> {{member.first_name}} {{member.last_name}} has a {{member.membership}} membership and is  {{member.state}}. </p>
    <div class="align_buttons ">
        <form action="/members/{{ member.id }}/edit">
            <input class="secondary_button" type="submit" value="Edit">
        </form>
        <form  action="/members/{{ member.id }}/delete" method="POST">
            <input class="secondary_button" type="submit" value="Delete">
        </form>
    </div><hr>
</section>
{% endfor %}
{% endblock %}