{% extends "base.html" %}
{% block content %}

<h2>Add a New Booking</h2>

<form action="/bookings" method="POST">
    <div>
        <label for="member">Member:</label>
        <select name="member_id" id="member">
            {% for member in members %}
                {% if member.state == "Activate"%}
                    <option value="{{ member.id }}">
                        {{ member.first_name }} {{ member.last_name }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </div><br>
    <div>
        <label for="gym_class">Class:</label>
        <select name="gym_class_id" id="gym_class">
            {% for gym_class in gym_classes %}
                {% if gym_class.state == "Activate"%}
                    <option value="{{ gym_class.id }}">
                        {{ gym_class.name }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>    
    </div><br>
    <div>
        <input class="secondary_button" type="submit">
    </div><br>
</form>

{% endblock %}