body {
    font-family: "Roboto", arial, sans-serif;
    margin: 0px;
    background-color: #282828;
    color: aliceblue;
}
.title {
    font-size: 3em;
    padding: 8px;
    padding-left: 48px;
}

.home {
    padding:48px;
}

.header{
    color: #282828;
    display: flex;
    background-color: aquamarine; 
    flex-direction: row;
    justify-content: space-between;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hr {
    padding-top: 24px;
    padding-left: 48px;
    padding-right: 48px;
    border-top: 1px;
}

h2 {
    color: aquamarine;
    font-size: xx-large;
}

.container {
    padding-left: 48px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 48px;
}

.booking {
    padding-right: 48px;
}

.button {
    background: aquamarine;
    color: #282828;
    padding: 16px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 24px auto;
    font-size: medium;
}

.button:hover {
    opacity: 0.7;
}

.secondary_button {
    background: #282828;
    color: white;
    padding: 12px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    border-color: aquamarine;
    margin: 12px;
    font-size: medium;
}

.secondary_button:hover {
    opacity: 0.7;
}

.align_buttons {
    display: flex;
    flex-direction: row; 
}

.footer {
    background-color: aquamarine;
    margin: 0px;
    color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px;
    
}

.fa {
    padding: 4px;
    font-size: 30px;
    width: 35px;
    border-radius:5px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin-right: 8px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    margin-right: 8px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-right: 8px;
}

.fa-instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    font-size: small;
    line-height: 0px;
    padding: 24px;
}
.address {
    display: flex;
    flex-direction: row;
}

.phone {
    display: flex;
    flex-direction: row;
}

.email {
    display: flex;
    flex-direction: row;
}

.material-icons {
    padding-right: 16px;
    font-size: 8px;
}

.logo {
    font-size:large;
}

.social {
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
}

.nav {
    margin-top: 48px;
}

.header_picture {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 200px;
    left: 48px;
    color: white;
    font-size: 2em;
}

.secondary_text {
    font-size: large;
    margin-left: 48x;
    margin-top: 24px;
}

.paragraph {
    display: flex;
    flex-direction: row;
}

span {
    padding: 8px;
    padding-right: 16px;
    font-size: 32px;
    color: aquamarine;
    font-weight: bold;
}

.top-center {
    position: absolute;
    top: 5%;
    left: 50%;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.pictures {
    position: relative;
    text-align: center;
    color: white;
}

.image {
    border-radius:30px;
}

.image:hover {
    opacity: 0.7;
    border: solid aquamarine 2px;
}

.title_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: #282828;
}