body {
    font-family: "Helvetica", arial, sans-serif;
    margin: 0px;
    background-color: #282828;
    color: aliceblue;
}
.title {
    font-size: 3em;
    padding: 8px;
    padding-left: 48px;
}

.home {
    padding:48px;
}

.header{
    color: #282828;
    display: flex;
    background-color: aquamarine; 
    flex-direction: row;
    justify-content: space-between;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hr {
    padding-top: 24px;
    padding-left: 48px;
    padding-right: 48px;
    border-top: 1px;
}

h2 {
    color: aquamarine;
}

.container {
    padding-left: 48px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 48px;
}

.booking {
    padding-right: 48px;
}

.button {
    background: aquamarine;
    color: #282828;
    padding: 16px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 24px auto;
    font-size: medium;
}

.secondary_button {
    background: #282828;
    color: white;
    padding: 12px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    border-color: aquamarine;
    margin: 12px;
    font-size: medium;
}

.align_buttons {
    display: flex;
    flex-direction: row;
    
}

