<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gym Heroes</title>
</head>
<body>
    <header class="header">
        <h1 id="title">Gym Heroes</h1>
        <nav>
            <ul id="nav">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
        <nav>
            <ul class="images">
                <ul>
                    <h3>Members</h3>
                    <ul>
                        <a class="image" href="/members"><img src="{{ url_for('static', filename='members.jpg') }}" alt="members_picture" height="200px"></a><br>
                        <a href="/members/new">Add</a>
                    </ul>
                </ul>
                <ul>
                    <h3>Classes</h3>
                    <ul>
                        <a href="/gym_classes"><img src="{{ url_for('static', filename='class.jpg') }}" alt="class_picture" height="200px"></a><br>
                        <a href="/gym_classes/new">Add</a>
                    </ul>
                </ul>
                <ul>
                    <h3>Bookings</h3>
                    <ul>
                        <a href="/bookings"><img src="{{ url_for('static', filename='booking.jpg') }}" alt="booking_picture" height="200px"></a><br>
                        <a href="/bookings/new">Add</a>
                    </ul>
                </ul>
            </ul>
        </nav>
        <div class="hr">
            <hr>
        </div>
        
        
        <!-- <img src="../images/members.jp" alt="paper_icon"> -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>   
</body>
</html>