<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gym Heroes</title>
</head>
<body>
    <header class="header">
        <h1 class="title">Gym Heroes</h1>
        <nav>
            <ul class="home">
                <a  href="/">Home</a></li>
            </ul>
        </nav>
    </header>
        <nav class="nav">
            <ul class="images">
                <ul class="members">
                    <h2>Members</h2>
                    <ul>
                        <a href="/members"><img src="{{ url_for('static', filename='members.jpg') }}" alt="members_picture" height="250px" border-radius=8px ></a><br>
                        <form action="/members/new">
                            <input class="button" type="submit" value="Add a new member">
                        </form>
                    </ul>
                </ul>
                <ul>
                    <h2>Classes</h2>
                    <ul>
                        <a class="image" href="/gym_classes"><img src="{{ url_for('static', filename='class.jpg') }}" alt="class_picture" height="250px"></a><br>
                        <form action="/gym_classes/new">
                            <input class="button" type="submit" value="Add a new class">
                        </form>
                    </ul>
                </ul>
                <ul>
                    <h2>Bookings</h2>
                    <ul>
                        <div class="booking">
                        <a href="/bookings"><img src="{{ url_for('static', filename='booking.jpg') }}" alt="booking_picture" height="250px"></a><br>
                        </div>
                        <form action="/bookings/new">
                            <input class="button" type="submit" value="Add a new booking">
                        </form>
                    </ul>
                </ul>
            </ul>
        </nav>
        <div class="hr">
            <hr>
        </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>   
</body>
</html>